* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* 公告 */
.announcement {
    width: 100%;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-size: 14px;
}

/* Header 內排版的 grid */
.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #111;
}

